
@import url("https://fonts.googleapis.com/css2?family=Lalezar&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Tajawal:wght@300;700&display=swap");

body {
  font-family: "Tajawal", sans-serif;
}

nav {
  font-family: "Fredoka", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}

  
  h2 {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
    font-size: 2.5rem;

  }
  
  h3{
    font-family: "Roboto", sans-serif;
    font-size: 2rem;
    font-weight: 400;
    font-style: normal;
     color: #fcf9f9;
  }
  
  nav .logo h4 {
    font-family: "Lalezar", cursive;
  }

  title {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  
  .roboto-regular-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .cta.purple {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;}
    
    .cta.dark {
      font-family: "Roboto", sans-serif;
      font-weight: 400;
      font-style: normal;}

* {
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}

html {
    font-size:16px;
    margin:auto ;


 main {
    max-width: 1366ps;
    margin: 0 auto;
}

nav {
  position: sticky;
top: 0;
left: 0;
  display: flex;
    justify-content: space-around;
    background-color:#1E3E62;
    align-items: center;
    height: 20vh;
width: none;
z-index: 1;
  }

  :root {
    --bg-color: #f0edf1;
    --text-color: #555;
  
    --light-color: #ffffff;
    --dark-color: #cbced1;
    --darker-color: #a7aaaf;
  
    --white-color: #ffffff;
  
    --transition-some: background .3s,
    --transition-all: all 0.4s;
  }
  


  }
  
  body {
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    color: var(--text-color);
    background-color: #080808;
  }
  
  nav .nav-Items {
    position: absolute;
    font-size: 3rem;
    display: hidden;
    flex-direction: column;
    background-color: rgb(3, 3, 3);
    align-items: center;
    justify-content: space-evenly;
    width: 1200px;
    height: 300px;
    top: 3.88rem;
    margin: 4rem;

    }


nav .fa-bars{
  font-size: 2rem;
}
nav .fa-x{
  font-size: 2rem;
}

h1 {color: #eee6e6;
  justify-content: center;
  font-size: 3rem;
  
 }

 nav .nav-Item {
    list-style-type: none;
    text-decoration:none;
   
 }

 nav .nav-Items {
  display: none;
 }
 
 nav .nav-Items.active{
  display: flex;
  flex-direction: column;
 }
 
 nav .nav-Items .nav-link{
    text-decoration:none;
    color: #fefbfb;
    initial-value: 0.75rem;
    list-style-type: none;
 }

 nav .logo {
  list-style: none;
display: flex;
justify-content: space-between;
align-items: center;
max-width: 1366px;
margin: 0 auto;
padding: 0 5rem;

 }




 .cta{
    padding: 0.75rem 2rem;
    border: none;
    border-radius: 1rem;
    cursor: pointer;
 }


nav .li{
  font-size: 3rem;
}


a {
  list-style-type: none;
  align-items: center;
}



 i{
  font-size: 6rem;
  
  color: #0c0c0c;
 }

 map{
  display: flex;
  font-size: 5rem;
  
  color: #0c0c0c;
 }


 
 nav #mobile-menu{
  font-size: 5rem;
  cursor: pointer;
  display:block;
 }

 .cta.purple{
background-color: #ECDFCC;
transition:background-color 0.3s;
color: #0e0d0d;
font-size: 2rem;
 }

 .cta.purple:hover{
  background: #3d3d3c;
 }

 /* القسم الاساسي */

 
 .hero {background-color: #0B192C;
  border-radius: 60px;
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100shw;
 }

 .hero h1{
  font-size: 4rem;
  width:40%;
  text-align: center;
  color: #fefcfc;
  margin-bottom: 2rem;

 }

 .hero h1 span{
  color: #fb8703;
 }

 .hero .cta.purple{
  margin-left: 1rem;
  
 }



 
 /* المنتجات */

 .features {
  display: flex;
  flex-direction: column;
  align-items: center;

 }

  p {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: normal;
  font-size: 2rem

}

 .features h3 {
  color: #faf9f9;
  font-size: 4rem;
  margin-bottom: 1rem;

 }

 .features h6 {
  color: #faf9f9;
  font-size: 3rem;
  margin-bottom: 2rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 20vh;

 }

 .wrapper{
  max-width:1000px ;
  position: relative;
}
.wrapper i {
  top: 50%;
  height: 50px;
  width: 50px;
  cursor: pointer;
  position: absolute;
  font-size: 2rem;
  line-height: 45px;
  background-color: rgb(247, 247, 250);
  border-radius: 50%;
  transform: translateY( -40%);
}

.wrapper .carousel{
  overflow:auto;
  white-space:unset;
  background-color: #080808;
}

.right{
  right: -800px;
}

.left{
  left: -800px;
}


.carousel img{
  height: 600px;
  margin-left: 10px;
  object-fit:contain;
  width:calc(100% / 3) ;

}

 .feature  {
  padding: 2rem;
  flex: 1;
  margin: 0;
  flex-direction: column;
 }  



 .feature .content h2 {
  color: #fcfbfb;
  margin-bottom: 2rem;
  width: 80%;


 }

 kbd {
  color: #FF6500;
  flex: 2rem;
  font-size: 3rem;
  padding: 4%;
  animation:carousel 10s ease-in-out infinite   ;
 }




h2{
  color: #eee6e6;
  justify-content: center;
font-size: 6rme;
margin-right: 5rem;
}

h5{
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  font-style: normal;
   color: #fcf9f9;
   padding: 1%;
   padding-right: 10%;
   flex-direction: column;
   justify-content:center;
}

.move img {
  justify-content: center;
 max-width: 55rem;
  margin-trim: 300px;
  padding-right: 100px;
}



section.features {
  padding: 2rem 0;
  background-color: #080808;
  width: -800%;
}

section.features .features-section {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.features-section h4 {
  color: #fbf9f9;
  font-size: 3rem;
  margin-bottom: 2rem;
}

.features-section .qualities {
  display: flex;
  justify-content: space-between;
}

.features-section .qualities .quality {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #0B192C;
  padding: 6rem;
  max-width: 300%;
  border-radius: 1rem;
  margin: 1rem 1rem;
}

.features-section .qualities .quality:hover {
  border: 2px solid #FF6500;
}

.qualities .quality i {
  font-size: 2rem;
  color: #FF6500;
  margin-bottom: 1rem;
}

.qualities .quality h3 {
 display: flex;
  text-align: center;
  font-size: 1.6rem;
  margin-bottom: 3rem;
  
}

.qualities .quality p {
  font-size: 1.5rem;
  text-align: center;
  color: #fcfcfc;
}



.features video{
  justify-content: center;
}

.features img{
  
  padding-right: -40px;
  margin-right: 3px;
}

 .features source{
  background-color: #f5f1f1;
  border-radius: 50px;
  
 }
 /* النهاية */

 footer{
  background-color: #607EAA;
  min-height: 30vh;
  padding: 2rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3rem;

 }

 footer h3{
  color: #f9f7f5;
  font-size: 3rem;
  padding-bottom: 1rem;
  margin-bottom: 2rem;
  border-bottom:1px solid #f9c6a2;
  width: 100%;
  text-align: center;

 }


footer p{
  color: #f8f8f8;
  margin-bottom: 1rem;
  font-size: 3rem;
}

footer i:hover{
  color: #1e05f9;
}

 
 @media (max-width: 1300px) {
  * {
    font-size: 85%;
  }
}

@media (max-width: 1175px) {
  * {
    font-size: 75%;
  }
}

@media (max-width: 1000px) {
  * {
    text-align: center;
  }
}

@media  (max-width:1450px){

  .list {
    flex-shrink: none;
   position: relative;

    }
}

  @media  (max-width:800px) {
   
   body > *{
    width:1000px ;
   }
   
   main >* {
     width: 1000px;
   }
  }
  
   nav .nav-Items {
    position: absolute;
    font-size: 3rem;
    display: hidden;
    flex-direction: column;
    background-color: rgba(3, 3, 3,0.7);
    border-radius: 5%;
    align-items: center;
    justify-content: space-evenly;
    width: 800px;
    height: 500px;
    top: 3.88rem;
    left: 6.2rem;
    }
  nav {
    justify-content:space-between;
  }
  .list{right: 50px;}
  .hero-section {
    align-items: center;
    padding: 2rem 0rem;
    width: 50%;}
 
    .hero .content {
      margin-top: 2rem;
    }
    .features-section .qualities {
      flex-wrap: wrap;
      justify-content: center;
    }
    section.features .features-section {
      align-items: center;
    }
.wrapper{
  max-width:1000px ;
  position: relative;
}

.wrapper .carousel{
  font-size: 0px;
  overflow:auto;
  white-space: nowrap;
}

.right{
  right: 100px;
}

.left{
  left: 100px;
}


.carousel img{
  height: 600px;
  margin-left: 10px;
  object-fit:contain;
  width:calc(100% / 3) ;

}


@media screen and (max-width:1200px){
  .carousel img{
    width:calc(100% / 2) ;
}
}


@media screen and (max-width:700px){
  .carousel img{
    width:100% ;
}
}
@import url("https://fonts.googleapis.com/css2?family=Lalezar&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Tajawal:wght@300;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


@keyframes  carousel {
  0%{transform: translateX(-100%);}
  10%{transform: translateX(-100%);}
  20%{transform: translateX(-100%);}
  30%{transform: translateX(-100%);}
  40%{transform: translateX(100%);}
  50%{transform: translateX(100%);}
  60%{transform: translateX(100%);}
  70%{transform: translateX(0%);}
  80%{transform: translateX(0%);}
  90%{transform: translateX(0%);}
  100%{transform: translateX(0%);}
}